{% extends "base.html" %}
{% block title %}
    Simple usage
{% endblock %}

{% block body %}

<div class="container">

    Input your data below or try our example first -> <button onclick="set_example_data()" class="btn btn-info" type="button" id="example">Try example</button>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
             <div class="mb-3">
                <label for="{{field.html_name}}" class="form-label">{{field.label}}</label>
                 {{field}}
                 {% if field.errors %}
                     {% for error in field.errors %}
                        <div class="form-text text-danger">{{error}}</div>
                     {% endfor %}
                 {% endif %}
              </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Find similar</button>
    </form>
</div>
{% endblock %}

  {% block scripts %}
<script>

    function set_example_data() {
           const text = document.getElementById("id_text");
           text.value = "{{example_text}}"
           const texts = document.getElementById("id_texts");
           texts.value = "{{example_texts}}"
    }

</script>
  {% endblock %}
